<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						
<mapper namespace="org.sp.mapper.ReplyMapper">

	<insert id="replyInsert">
		INSERT INTO replyTBL(r_writer, r_boardNum, r_content) 
		VALUES(#{r_writer}, #{r_boardNum}, #{r_content})
	</insert>
	
	<select id="replyList" resultType="org.sp.model.ReplyDTO">
		SELECT * FROM replyTBL WHERE r_boardNum = #{String r_boardNum}
	</select>
	
	<delete id="replyDelete">
		DELETE FROM replyTBL WHERE r_no = #{r_no}
	</delete>

</mapper>
